.classpath
captures/
project.properties
.project
.settings
bin/
gen/
.idea/
*.iml
out
tests
local.properties
ant.properties
.DS_Store
build.log
build-log.xml
.gradle
build
signing.properties
library/lib/
library/obj/
ffpr
test/androidTestEspresso/res/values/arrays.xml
obj/
jni/libspeex/.deps/
*.sh
pkcs11.password
.venv/
gotenna-public-sdk/.venv/
gotenna-public-sdk/.goTenna
__pycache__
app/play/release/
app/website/release/
app/website/staging/
